In [30]:
#Liz Ponting 
# Project: Analysis of Word Count by gender and ethnicity for Oscars Best Picture.  Have the films become more diverse? 

# 34 points needed 
# import (2), additional data set (1) create own dataset (2), join (4), groupby (3),statistical metrics (3), github push (6),plots (6), linear model (2), classification model (3), git commits (3), function (2) = 37 points

In [3]:
# Import the Actor (2 points) and Character Word Count files (1 point)
import pandas as pd
actor = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\actor-metrics.csv')
words = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\character-word-counts.csv')

# Created additional data set to determine if age is also a factor (2 points)
age = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\actor-birthdays.csv')

In [4]:
# Combine the three data sets using Join (4 points)
joined_data_one = pd.merge(actor, words,on='actor')
joined_data_two = pd.merge(joined_data_one,age,on='actor')
joined_data_two.head()

,year_x,film_x,actor,characters_x,imdb,gender,race,race_simple,words,sentences,year_y,film_y,character,word,count,year,film,characters_y,Birthyear,AgeDuringFilm
0,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,'bout,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
1,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,82nd,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
2,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,airborne,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
3,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,answer,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
4,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,arty,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45

In [5]:
# Explore the data using group by functions  (3 points) 
# Statistical Metrics used here to learn about the data (1.5 point)
joined_data_two.groupby(['year_x','gender']).agg({'count':['sum','mean','median']})

               count
                 sum      mean median
year_x gender
1989   female   2546  1.538369      1
       male     9615  1.526190      1
2015   female   8161  1.485980      1
       male    28067  1.427474      1
2017   female   8710  1.482553      1
       male    30664  1.386696      1

In [6]:
# Explore wordcount by film & gender 
# Statistical Metric (0.5 point)
wordcount = joined_data_two.groupby(['year_x','film_x','gender']).agg({'words':['sum']}).unstack()
wordcount.head()

                                       words
                                         sum
gender                                female       male
year_x film_x
1989   born-on-the-fourth-of-july    31608.0   787794.0
       dead-poets-society             7735.0   702659.0
       driving-miss-daisy          2408667.0  2888724.0
       field-of-dreams              522436.0  3376923.0
       my-left-foot                 351071.0  1689185.0

In [7]:
# Pivot table to explore data in a different way 
# Statistical metric (0.5 point)
# apply function to get rid of NaN (1 point)

jd2 = joined_data_two.pivot_table(columns='year',index=['gender','race'],values='words',aggfunc='count')

def nan_filler (df, scalar):
    return df.fillna(scalar)
import numpy as np
import pandas as pd
nan_filler(jd2,0)

year                             1989     2015     2017
gender race
female 2+ Race                    0.0    150.0    111.0
       Asian                      0.0     48.0      0.0
       Black/African American    70.0     63.0    356.0
       Hispanic/Latino            0.0     44.0     30.0
       White/Caucasian         1585.0   5187.0   5378.0
male   2+ Race                    0.0     98.0     95.0
       Asian                      0.0    146.0      0.0
       Black/African American   967.0    403.0    675.0
       Hispanic/Latino            0.0    142.0      0.0
       White/Caucasian         5333.0  18873.0  21343.0

In [8]:
# Calculate percentages in regards to the race of the actors in the films
# Statistical metric (.5 points)
# apply function to get rid of NaN (1 point)

racepercent = joined_data_two.pivot_table(index=['year'],columns=['race'],values='words',aggfunc='count')
#racepercent.fillna(0,inplace=True)

def nan_filler (df, scalar):
    return df.fillna(scalar)
nan_filler(racepercent,0)

race  2+ Race  Asian  Black/African American  Hispanic/Latino  White/Caucasian
year
1989      0.0    0.0                  1037.0              0.0           6918.0
2015    248.0  194.0                   466.0            186.0          24060.0
2017    206.0    0.0                  1031.0             30.0          26721.0

In [9]:
racepercent.fillna(0,inplace=True)
racepercent['WhitePercent'] = racepercent['White/Caucasian'] / (racepercent['2+ Race'] + racepercent['Asian'] + racepercent['Black/African American'] + racepercent['Hispanic/Latino'] + racepercent['White/Caucasian']) *100
racepercent['AllElsePercent'] = (racepercent['2+ Race'] + racepercent['Asian'] + racepercent['Black/African American'] + racepercent['Hispanic/Latino']) / (racepercent['2+ Race'] + racepercent['Asian'] + racepercent['Black/African American'] + racepercent['Hispanic/Latino'] + racepercent['White/Caucasian']) * 100
racepercent

race,2+ Race,Asian,Black/African American,Hispanic/Latino,White/Caucasian,WhitePercent,AllElsePercent
year,,,,,,,
1989,0.0,0.0,1037.0,0.0,6918.0,86.964173,13.035827
2015,248.0,194.0,466.0,186.0,24060.0,95.650791,4.349209
2017,206.0,0.0,1031.0,30.0,26721.0,95.473060,4.526940

In [10]:
racepercent.fillna(0,inplace=True)

In [11]:
# Calculate percentages in regards to the gender of the actors in the films

genderpercentbyFilm = joined_data_two.pivot_table(index=['year','film_x'],columns=['gender'],values='words',aggfunc='count')
genderpercentbyFilm.fillna(0,inplace=True)

genderpercentbyFilm['malePercent'] = genderpercentbyFilm['male'] / (genderpercentbyFilm['male'] + genderpercentbyFilm['female'])*100
genderpercentbyFilm['femalePercent'] = genderpercentbyFilm['female'] / (genderpercentbyFilm['male'] + genderpercentbyFilm['female'])*100
genderpercentbyFilm

gender                                         female    male  malePercent  \
year film_x
1989 born-on-the-fourth-of-july                 106.0  1031.0    90.677221
     dead-poets-society                          35.0  1119.0    96.967071
     driving-miss-daisy                         728.0  1052.0    59.101124
     field-of-dreams                            427.0  1351.0    75.984252
     my-left-foot                               359.0  1053.0    74.575071
     phantom-thread                               0.0   694.0   100.000000
2015 bridge-of-spies                             63.0  2725.0    97.740316
     brooklyn                                  1839.0  1049.0    36.322715
     dunkirk                                      0.0  1241.0   100.000000
     lady-bird                                  935.0   402.0    30.067315
     mad-max                                    576.0  1084.0    65.301205
     room                                       862.0   637.0    42.494997
     spotlight                                  256.0  2926.0    91.954745
     the-big-short                              347.0  3363.0    90.646900
     the-martian                                614.0  2053.0    76.977878
     the-post                                     0.0  1711.0   100.000000
     the-revenant                                 0.0  1983.0   100.000000
     the-shape-of-water                           0.0   488.0   100.000000
2017 bridge-of-spies                              0.0  1562.0   100.000000
     brooklyn                                   935.0     0.0     0.000000
     call-me-by-your-name                       512.0  2486.0    82.921948
     darkest-hour                               239.0  1837.0    88.487476
     dunkirk                                      0.0  1204.0   100.000000
     get-out                                    409.0  1521.0    78.808290
     lady-bird                                 1570.0  2347.0    59.918305
     mad-max                                      0.0   494.0   100.000000
     my-left-foot                                 0.0   694.0   100.000000
     phantom-thread                             498.0   754.0    60.223642
     spotlight                                    0.0   488.0   100.000000
     the-big-short                                0.0   804.0   100.000000
     the-post                                   678.0  2658.0    79.676259
     the-revenant                                 0.0   494.0   100.000000
     the-shape-of-water                         331.0  2594.0    88.683761
     three-billboards-outside-ebbing-missouri   703.0  2176.0    75.581799

gender                                         femalePercent
year film_x
1989 born-on-the-fourth-of-july                     9.322779
     dead-poets-society                             3.032929
     driving-miss-daisy                            40.898876
     field-of-dreams                               24.015748
     my-left-foot                                  25.424929
     phantom-thread                                 0.000000
2015 bridge-of-spies                                2.259684
     brooklyn                                      63.677285
     dunkirk                                        0.000000
     lady-bird                                     69.932685
     mad-max                                       34.698795
     room                                          57.505003
     spotlight                                      8.045255
     the-big-short                                  9.353100
     the-martian                                   23.022122
     the-post                                       0.000000
     the-revenant                                   0.000000
     the-shape-of-water                             0.000000
2017 bridge-of-spies                                0.000000
     brooklyn                                     100.000000
     call-me-by-your-name                          17.078052
     darkest-hour                                  11.512524
     dunkirk                                        0.000000
     get-out                                       21.191710
     lady-bird                                     40.081695
     mad-max                                        0.000000
     my-left-foot                                   0.000000
     phantom-thread                                39.776358
     spotlight                                      0.000000
     the-big-short                                  0.000000
     the-post                                      20.323741
     the-revenant                                   0.000000
     the-shape-of-water                            11.316239
     three-billboards-outside-ebbing-missouri      24.418201

In [12]:
# Calculate percentages in regards to the gender of the actors by year
genderpercentbyYear = joined_data_two.pivot_table(index=['year'],columns=['gender'],values='words',aggfunc='count')
genderpercentbyYear.fillna(0,inplace=True)
genderpercentbyYear['malePercent'] = genderpercentbyYear['male'] / (genderpercentbyYear['male'] + genderpercentbyYear['female'])*100
genderpercentbyYear['femalePercent'] = genderpercentbyYear['female'] / (genderpercentbyYear['male'] + genderpercentbyYear['female'])*100
genderpercentbyYear.head()

gender  female   male  malePercent  femalePercent
year
1989      1655   6300    79.195475      20.804525
2015      5492  19662    78.166494      21.833506
2017      5875  22113    79.008861      20.991139

In [13]:
# Import necessary libraries for models & visualization  

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split

In [14]:
# Transform gender from categorical variable to number via one-hot encoding for modeling 

cat_cols_gender = joined_data_two[['gender']]
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
encoder.fit(cat_cols_gender)
cat_cols_1hot=encoder.transform(cat_cols_gender)
cat_cols_1hot_df = pd.DataFrame(cat_cols_1hot,columns=encoder.get_feature_names())
datav2 = pd.concat([joined_data_two.drop(['gender'],axis=1),cat_cols_1hot_df],axis=1)
datav2.head()

,year_x,film_x,actor,characters_x,imdb,race,race_simple,words,sentences,year_y,...,character,word,count,year,film,characters_y,Birthyear,AgeDuringFilm,x0_female,x0_male
0,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,White/Caucasian,White,216.0,15.0,1989,...,COLONEL,'bout,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45,0.0,1.0
1,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,White/Caucasian,White,216.0,15.0,1989,...,COLONEL,82nd,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45,0.0,1.0
2,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,White/Caucasian,White,216.0,15.0,1989,...,COLONEL,airborne,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45,0.0,1.0
3,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,White/Caucasian,White,216.0,15.0,1989,...,COLONEL,answer,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45,0.0,1.0
4,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,White/Caucasian,White,216.0,15.0,1989,...,COLONEL,arty,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45,0.0,1.0

In [15]:
# Create a linear regression model to determine if the word count can be predicted by the gender, age, & year the film was produced  
# Linear model trained and used (2 points)
y = datav2['words']
X = datav2[['AgeDuringFilm','x0_female','x0_male','year']]
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,random_state=649)
Xtest.fillna(Xtest.mean())
Xtrain.fillna(Xtrain.mean())
ytrain.fillna(ytrain.mean())
ytest.fillna(ytest.mean())

37431    2491.0
49132     471.0
35770    1137.0
32038    1338.0
3459     3343.0
          ...
9947      178.0
1467      801.0
25875    1538.0
57520    2783.0
19643    3357.0
Name: words, Length: 15275, dtype: float64

In [16]:
ytrain.head()

30699    1163.0
36898    1895.0
30613    1163.0
54822    1406.0
24800     492.0
Name: words, dtype: float64

In [17]:
ytest.head()

37431    2491.0
49132     471.0
35770    1137.0
32038    1338.0
3459     3343.0
Name: words, dtype: float64

In [18]:
Xtrain.head()

       AgeDuringFilm  x0_female  x0_male  year
30699             48        0.0      1.0  2015
36898             35        0.0      1.0  2015
30613             48        0.0      1.0  2015
54822             62        1.0      0.0  2017
24800             38        0.0      1.0  2015

In [19]:
Xtest.head()

       AgeDuringFilm  x0_female  x0_male  year
37431             53        0.0      1.0  2015
49132             22        0.0      1.0  2017
35770             32        0.0      1.0  2015
32038             37        1.0      0.0  2015
3459              52        0.0      1.0  1989

In [20]:
Xtrain.shape

(45822, 4)

In [21]:
Xtest.shape

(15275, 4)

In [22]:
ytrain.shape

(45822,)

In [23]:
ytest.shape

(15275,)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
model_gender = LinearRegression(fit_intercept=True)
model_gender

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
model_gender.fit(Xtrain,ytrain)
model_gender

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
# This model indicates that using age, gender and year of film is not enough to predict word count in a film
model_gender.score(Xtest,ytest)

0.03856180408646237

In [28]:
joined_data_two.head()

,year_x,film_x,actor,characters_x,imdb,gender,race,race_simple,words,sentences,year_y,film_y,character,word,count,year,film,characters_y,Birthyear,AgeDuringFilm
0,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,'bout,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
1,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,82nd,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
2,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,airborne,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
3,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,answer,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45
4,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,arty,1,1989,born-on-the-fourth-of-july,COLONEL,1944,45

In [29]:
# Create a classification model to predict gender (3 points)
# Use data set before encoding gender 
from sklearn.naive_bayes import GaussianNB
modelGender = GaussianNB()
X = joined_data_two[['year_x','words','sentences']]
y = joined_data_two['gender']

In [30]:
# split the data 
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,random_state=64)

In [31]:
modelGender.fit(Xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [32]:
# the classification model is better at predicting gender based on words, sentences and year than the linear regression model was at determining word count 
modelGender.score(Xtest,ytest)

0.7399672667757774

In [40]:
# create a dictionary to represent a new actor 
new_actor = {'year_x':2020, 'words':300, 'sentences':60}
x_new = pd.DataFrame([new_actor])
x_new

   year_x  words  sentences
0    2020    300         60

In [41]:
modelGender.predict(x_new)

array(['male'], dtype='<U6')

In [ ]:
# Visualize the data to determine if the Oscar winning filmns have become more diverse.

In [ ]:
females = datav2.loc[datav2['x0_female'] == 1]
males = datav2.loc[datav2['x0_female'] == 0]

In [ ]:
females['film_x'].max()

In [ ]:
genderpercent.head()

In [ ]:
plt.boxplot('words',data=females)
plt.title('Average words spoken by Women in Best Picture Films')
# plot (1 point)

In [ ]:
plt.boxplot('words',data=males)
plt.title('Average words spoken by Men in Best Picture Films')
# plot (1 point)

In [ ]:
sns.pairplot(datav2, vars=['words','race','AgeDuringFilm'])
# plot 1 point

In [ ]:
graph1 = joined_data_two.pivot_table(index='year',columns=['gender'],values='words',aggfunc='count')
graph1

In [ ]:
plt.plot(graph1)
plt.ylabel('Total Word Count')
plt.xlabel('Year Best Picture Oscar Won')
plt.title('Total Words Spoken by Men vs. Women in Best Picture Films')
# plot (1 point)

In [ ]:
graph2 = females.pivot_table(index='year',columns=['race'],values='words',aggfunc='count')
graph2.plot()
plt.ylabel('Total Word Count')
plt.xlabel('Year Best Picture Oscar Won')
plt.title('Total Words Spoken by Women in Best Picture Films')
# plot (1 point)

In [ ]:
graph2 = males.pivot_table(index='year',columns=['race'],values='words',aggfunc='count')
graph2.plot()
plt.ylabel('Total Word Count')
plt.xlabel('Year Best Picture Oscar Won')
plt.title('Total Words Spoken by Men in Best Picture Films')
# plot (1 point)

In [ ]:
genderpercent2.head()

In [ ]:
racepercent.head()

In [ ]:
genderpercent3 = genderpercent2.drop(columns=['female','male'])
genderpercent3.head()

In [ ]:
allpercent = pd.merge(genderpercent3,racepercent,on='year')
newallpercent = allpercent.drop(columns=['2+ Race','Asian','Black/African American','Hispanic/Latino','White/Caucasian'])
newallpercent

In [ ]:
newallpercent.plot.bar()
plt.ylabel('Percent of Word Count')
plt.xlabel('Year Best Picture Oscar Won')
plt.title('Percent of Words Spoken Best Picture Films')
# plot (1 point)

In [ ]:
# Have films winning Best Picture at the Oscars become more diverse? According the the percentage of words spoken by women and people of color, it does not appear that diversity has improved by much. 
newallpercent.plot()
plt.ylabel('Percent of Word Count')
plt.xlabel('Year Best Picture Oscar Won')
plt.title('Percent of Words Spoken Best Picture Films')
# plot (1 point)