In [2]:
#Liz Ponting 
#Project
#34 points needed 
# import, join, groupby,statistical metrics, github push = 17 points so far

In [15]:
import pandas as pd
actor = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\actor-metrics.csv')
actor.head()
#2 points

,year,film,actor,characters,imdb,gender,race,race_simple,words,sentences
0,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0
1,1989,born-on-the-fourth-of-july,David Warshofsky,LIEUTENANT,http://www.imdb.com/name/nm0913175/,male,White/Caucasian,White,290.0,40.0
2,1989,born-on-the-fourth-of-july,Frank Whaley,TIMMY,http://www.imdb.com/name/nm0001844/,male,White/Caucasian,White,104.0,14.0
3,1989,born-on-the-fourth-of-july,Jerry Levine,STEVE,http://www.imdb.com/name/nm0505842/,male,White/Caucasian,White,300.0,35.0
4,1989,born-on-the-fourth-of-july,John F. Kennedy,KENNEDY,NaN,male,White/Caucasian,White,217.0,5.0

In [16]:
words = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\character-word-counts.csv')
words.head()

   year                        film character           actor      word  count
0  1989  born-on-the-fourth-of-july     COACH  Richard Grusin       4th      1
1  1989  born-on-the-fourth-of-july     COACH  Richard Grusin  awrightl      1
2  1989  born-on-the-fourth-of-july     COACH  Richard Grusin    babies      1
3  1989  born-on-the-fourth-of-july     COACH  Richard Grusin      baby      2
4  1989  born-on-the-fourth-of-july     COACH  Richard Grusin     bleed      1

In [12]:
joined_data = pd.merge(actor, words,on='actor')
joined_data
# 4 points

,year_x,film_x,actor,characters,imdb,gender,race,race_simple,words,sentences,year_y,film_y,character,word,count
0,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,'bout,1
1,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,82nd,1
2,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,airborne,1
3,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,answer,1
4,1989,born-on-the-fourth-of-july,Dale Dye,COLONEL,http://www.imdb.com/name/nm0245653/,male,White/Caucasian,White,216.0,15.0,1989,born-on-the-fourth-of-july,COLONEL,arty,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44486,2017,three-billboards-outside-ebbing-missouri,Zeljko Ivanek,DESK SERGEANT,http://www.imdb.com/name/nm0411964/,male,White/Caucasian,White,347.0,42.0,2017,three-billboards-outside-ebbing-missouri,DESK SERGEANT,welby,1
44487,2017,three-billboards-outside-ebbing-missouri,Zeljko Ivanek,DESK SERGEANT,http://www.imdb.com/name/nm0411964/,male,White/Caucasian,White,347.0,42.0,2017,three-billboards-outside-ebbing-missouri,DESK SERGEANT,willoughby,1
44488,2017,three-billboards-outside-ebbing-missouri,Zeljko Ivanek,DESK SERGEANT,http://www.imdb.com/name/nm0411964/,male,White/Caucasian,White,347.0,42.0,2017,three-billboards-outside-ebbing-missouri,DESK SERGEANT,work,1
44489,2017,three-billboards-outside-ebbing-missouri,Zeljko Ivanek,DESK SERGEANT,http://www.imdb.com/name/nm0411964/,male,White/Caucasian,White,347.0,42.0,2017,three-billboards-outside-ebbing-missouri,DESK SERGEANT,wrote,1
44490,2017,three-billboards-outside-ebbing-missouri,Zeljko Ivanek,DESK SERGEANT,http://www.imdb.com/name/nm0411964/,male,White/Caucasian,White,347.0,42.0,2017,three-billboards-outside-ebbing-missouri,DESK SERGEANT,ya,2

In [24]:
# group by data 
#3 points 
joined_data.groupby('gender').agg({'words':['mean']})

              words
               mean
gender
female  1610.653156
male    1469.149885

In [ ]:
# push to github 
# 6 points

In [27]:
# Statistical Metric
# 2 points 
joined_data.groupby('race_simple').agg({'words':['mean','min','median','max']})

                   words
                    mean    min  median     max
race_simple
POC          1286.098587  108.0  1319.0  3343.0
White        1522.688268  100.0   958.0  4588.0